body{
    background-color: #e6e6e6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
}
header h1{
    color: #ffffff;
    text-align: left;
    font-size: 2rem;
    position: absolute;
    margin-top: 15%;
    margin-left: 10%;
}
header h2{
    color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
    padding: 10px;
    position: absolute;
    margin-top: 15%;
    margin-left: 45%;
}
footer{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #0471A6;
    color: white;
}
.hero {
    text-align: center;
    margin-bottom: 0px;
    background-image: url('images/background.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0px;
    padding-top: 30px;
    height: 100vh;
}

.hero2 {
    text-align: center;
    margin-bottom: 0px;
    background-image: url('images/background.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0px;
    padding-top: 30px;
    height: 8vh;
}
.hero p1{
    font-size: 2rem;
    color: #eeeeee;
    margin-top: 10px;
}
.home {
    text-decoration: none;
    color: #eeeeee;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 20px;
}
.about, .services, .contact, .templates, .our-process, .pricing {
    text-decoration: none;
    color: #eeeeee;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 20px;
    margin-top: 40px;
}
.about:hover, .services:hover, .contact:hover, .templates:hover, .our-process:hover, .pricing:hover {
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;
    color: #ffffff;
}

.hero img {
    position: absolute;
    width: 10%;
    margin-top: 20%;
    margin-left: 15%;
    display: block;
}

.services-container {
    max-width: 1200px;
    margin: 40px auto 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-container h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #3d3d3d;
}

.services-container p {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.2rem;
    color: #555;
}

.service {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px); /* Takes up half the container width minus margin */
    box-sizing: border-box;
}

.service h2{
    color: #0471A6;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.service p{
    color: #555;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}

.email{
    color: #0471A6;
    font-weight: bold; 
    text-decoration: none;
}

.logo{
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}